<footer>
  <div class="top">
    <div class="container">
      <div class="row">
      {% comment %}
        <div class="col-md-4">
          <h6>Some interesting links</h6>
          <ul class="list-unstyled list-footer">
            <li><a href="#">IT is a service, not a product</a></li>
          </ul>
        </div>
      {% endcomment %}
        <div class="col-md-4 col-md-offset-2">
          <h6>About Us</h6>
          <ul class="list-unstyled list-footer">
            <li><a href="{% url 'jobs' %}"><b>We are hiring!</b></a></li>
            <li><a href="{% url 'contact_form' %}">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h6>Follow us on</h6>
          <ul class="list-unstyled list-inline">
            <li><a href="https://twitter.com/nomadblue" class="ico-social twitter">Twitter</a></li>
            <li><a href="https://www.facebook.com/nomadblueltd" class="ico-social facebook">Facebook</a></li>
            <li><a href="" class="ico-social rss">RSS</a></li>
          </ul>
        </div>
     </div>
    </div>  
  </div>
  <div class="bottom clearfix">
    <div class="container">
      <h5 class="pull-left"><a href="#">Nomadblue</a></h5>
      <p class="claim pull-left">We invest in talent to create disrupting businesses. We have the tools and the expertise for your ideas.</p>  
    </div>  
  </div>
</footer>
