{% load i18n %}

<footer>
  <div class="bottom clearfix">
    <div class="container">
      <h5 class="pull-left"><a href="#">Nomadblue</a></h5>
      <p class="claim pull-left">{% trans "We invest in talent to create disrupting businesses.<br>We have the tools and the expertise for your ideas." %}</p>  
      <ul class="list-unstyled list-inline pull-right">
        <li><a href="https://twitter.com/nomadblue" class="ico-social twitter">Twitter</a></li>
        <li><a href="https://www.facebook.com/nomadblueltd" class="ico-social facebook">Facebook</a></li>
        <li><a href="{% url 'latest_entries' %}" class="ico-social rss">RSS</a></li>
      </ul>
    </div>  
  </div>
</footer>
