{% load website_tags %}
{% load staticfiles %}
{% load i18n %}

{% url 'home' as home_url %}
{% url 'post_list' as post_list_url %}
{% url 'contact_form' as contact_form_url %}
{% url 'jobs' as jobs_url %}

<div class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-div">
        MENU
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo-home" href="{% url 'home' %}">Nomadblue</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-div" style="max-height: 370px !important">
      <ul class="nav navbar-nav navbar-right">
        {% if blog %}
          <li><a href="{{ alt_site }}/blog/" id="switch-site" class="navbar-menu-item">{{ alt_site_text }}</a></li>
        {% else %}
          <li><a href="{{ alt_site }}{{ request.path }}" id="switch-site" class="navbar-menu-item">{{ alt_site_text }}</a></li>
        {% endif %}
        <li class="{% active_nav_menu_item request home_url %}"><a href="{{ home_url }}" class="navbar-menu-item">{% trans "HOME" %}</a></li>
        <li class="{% active_nav_menu_item_contains request post_list_url %}"><a href="{{ post_list_url }}" class="navbar-menu-item">{% trans "BLOG" %}</a></li>
        <li class="{% active_nav_menu_item request contact_form_url %}"><a href="{{ contact_form_url }}" class="navbar-menu-item">{% trans "CONTACT" %}</a></li>
        <li class="{% active_nav_menu_item request jobs_url %}"><a href="{{ jobs_url }}" class="navbar-menu-item">{% trans "JOBS" %}</a></li>
      </ul>
    </div>
  </div>
</div>
