{% load i18n %}

<div id="triptic" class="container home-triptic">
  <div class="row">
    <p style="text-align:center; font-size:35px; font-weight:300">{% trans "What we do" %}</p>
    <div class="col-lg-4">
      <a id="triptic1" href="#">Anchor Text</a>
      <h2>{% trans "Freedom to innovate" %}</h2>
      <p>{% trans "Imagine you could bring startup mentors and advisors, entrepreneurship visionaries, awesome code ninjas, UI/UX design gurus and top-notch tech evangelists into <b>a single super-entity</b> and incorporate it to your business or project. You are liberated from the difficulties of the building process, so suddenly all your constraints disappear allowing you to focus on what really matters:<br><b>your product, your clients, your mission</b>." %}</p>
    </div>
    <div class="col-lg-4">
      <a id="triptic2" href="#">Anchor Text</a>
      <h2>{% trans "Boostrap your growth" %}</h2>
      <p>{% trans "We propose you to walk together in your way to creating your product, building <b>MVPs (minimal viable products)</b> first and incrementally turn them into full-featured products. Time, resources, goals and your economy they all align together to streamline the development progress; together we set the pace to <b>organic growth</b> and the tools to <b>business wisdom</b>." %}</p>
    </div>
    <div class="col-lg-4">
      <a id="triptic3" href="#">Anchor Text</a>
      <h2>{% trans "Startups == #noestimates" %}</h2>
      <p>{% trans "Innovative projects need a flexible environment to build prototypes and validate their business models quickly. Get rid of <b>fixed estimates and requirements</b>, because they are like <b>handcuffs to your ideas</b>! Let us guide you and your team through all the different stages, seamlessly and in a radical immersive routine to keep you aware and collaborative." %}</p>
    </div>
  </div>
</div>
