{% load i18n %}

<div class="container-fluid cover">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <h1>{% trans "We are Nomadblue, your CTO on-demand" %}</h1>
          <h3>{% trans "Startup acceleration. We help launch disruptive companies by bringing our operational expertise right into their core businesses" %}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="see-more">
      <a id="button" href="#triptic" class="btn btn-primary">{% trans "Scroll down" %}</a>
    </div>
</div>
