{% load i18n %}
{% load staticfiles %}

<div class="container">
  <div class="row">
    <p style="text-align:center; font-size:35px; font-weight:300">{% trans "Startups & Projects" %}</p>
    <div class="col-xs-2 col-xs-offset-1">
      <a href="https://www.rnovo.cl/" target="_blank"><img src="{% static 'img/rnovo_200x200.png' %}" class="img-responsive"></a>
    </div>
    <div class="col-xs-2">
      <a href="http://www.eduquia.com/" target="_blank"><img src="{% static 'img/eduquia_200x200_blue_bg.png' %}" class="img-responsive"></a>
    </div>
    <div class="col-xs-2">
      <a href="http://www.ahorramos.co/" target="_blank"><img src="{% static 'img/ahorramos_200x200_green_bg.png' %}" class="img-responsive"></a>
    </div>
    <div class="col-xs-2">
      <a href="http://www.activism.com/" target="_blank"><img src="{% static 'img/activism_200x200_white_bg.png' %}" class="img-responsive"></a>
    </div>
    <div class="col-xs-2">
      <a href="http://www.dealirius.cl/" target="_blank"><img src="{% static 'img/dealirius_200x200_blue_bg.png' %}" class="img-responsive"></a>
    </div>
  </div>
</div>
