<h1>{{ blog.title }} - Latest posts by category '{{ category }}'</h1>
{% for post in object_list %}
  <ul>
    {% comment %}
      If the blog belongs to countries, it is not possible to resolve the url
      from get_absolute_url (it could be /es/blog-slug/ or /it/blog-slug/).
      Therefore, the href attr from the <a> must be filled by you.
    {% endcomment %}
    <li><p><a href="#">{{ post.title }}</a></p></li>
    <li><p>{{ post.content|truncatewords:"30" }}</p></li>
  </ul>
{% empty %}
<ul>
  <li>Sorry, no categories found.</li>
</ul>
{% endfor %}
