<div class="row">
  <div class="col-xs-12 col-md-4">
    {% if use_holder_js %}
      <img src="holder.js/100%x150/sky" class="img-responsive" style="margin-bottom:20px">
    {% elif object.image %}
      <img src="{{ object.pic.url }}" class="img-responsive" style="margin-bottom:20px">
    {% else %}
      <img src="http://placehold.it/720x300.png" class="img-responsive" style="margin-bottom:20px">
    {% endif %}
  </div>
  <div class="col-xs-12 col-md-8">
    <h3 style="margin-top:0"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
    {{ object.summary|safe }}
  </div>
</div>
