{% extends "base.html" %}

{% load i18n %}

{% block html_title %}{% trans "Jobs and vacancies" %} | Nomadblue{% endblock %}
{% block html_desc %}{% trans "Jobs and vacancies at Nomadblue. Work with us, we are hiring!" %}{% endblock %}

{% block open_graph %}
<meta property="og:type" content="website">
<meta property="og:image" content="{% static 'img/nomadblue_logo_fb.png' %}">
<meta property="og:title" content="{% trans "Jobs and vacancies at Nomadblue - Web development for startups and smart companies" %}">
<meta property="og:url" content="{{ site_url }}{% url 'jobs' %}">
<meta property="og:description" content="{% trans "We invest in talent to create disrupting businesses. We have the tools and the expertise for your ideas" %}">
{% endblock %}

{% block content %}
  
<div class="container">
  <div class="title-lead">
    <ul class="list-unstyled list-inline">
      <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li>{% trans "Jobs" %}</li>
    </ul>
    <h1>{% trans "Work with us, we are hiring!" %}</h1>
  </div>
</div>
<div class="container">
  <p class="clearfix">{% trans "Currently these are the jobs we are offering:" %}</p>
  <ul class="list-unstyled">
    <li><p style="font-size:1.6em"><a href="{% url 'python_jobs' %}">{% trans "Python/Django web developers" %}</a></p></li>
  </ul>
</div>

{% endblock content %}
