// ----------------------------
// Primary and secondary colors
// ----------------------------

@primary: hsl(189, 44.0329%, 52.3529%);

// Primary Variants -
@primaryLight:   hsl(hue(@primary), 100%, 70%);
@primaryDark:    hsl(hue(@primary), 60%, 40%);
@primaryFaded:   hsl(hue(@primary), 60%, 65%);

// 180degree Variants
@primaryVariant:         spin((@primary), 180);
@primaryVariantLight:    hsl(hue(@primaryVariant), 100%, 70%);
@primaryVariantDark:     hsl(hue(@primaryVariant), 60%, 40%);
@primaryVariantFaded:    hsl(hue(@primaryVariant), 60%, 65%);

// 90degree Variants
@primaryCorner:         spin((@primary), 70);
@primaryCornerLight:    hsl(hue(@primaryCorner), 100%, 70%);
@primaryCornerDark:     hsl(hue(@primaryCorner), 60%, 40%);
@primaryCornerFaded:    hsl(hue(@primaryCorner), 60%, 65%);

@secondary: hsl(190, 62.6016%, 75.8824%);

// Secondary Variants -
@secondaryLight:   hsl(hue(@secondary), 100%, 70%);
@secondaryDark:    hsl(hue(@secondary), 60%, 40%);
@secondaryFaded:   hsl(hue(@secondary), 60%, 65%);

// 180degree Variants
@secondaryVariant:         spin((@secondary), 180);
@secondaryVariantLight:    hsl(hue(@secondaryVariant), 100%, 70%);
@secondaryVariantDark:     hsl(hue(@secondaryVariant), 60%, 40%);
@secondaryVariantFaded:    hsl(hue(@secondaryVariant), 60%, 65%);
 
// 90degree Variants
@secondaryCorner:         spin((@secondary), 70);
@secondaryCornerLight:    hsl(hue(@secondaryCorner), 100%, 70%);
@secondaryCornerDark:     hsl(hue(@secondaryCorner), 60%, 40%);
@secondaryCornerFaded:    hsl(hue(@secondaryCorner), 60%, 65%);

@link-color: @primaryDark;

@btn-primary-color: #fff;
@btn-primary-bg: @secondaryCornerDark;
@btn-primary-border: @secondaryCornerLight;

// --------------------------------
// Twitter Bootstrap customizations
// --------------------------------

@headings-font-family: Dosis;

.btn-primary {
    font-size: 1.2em;
    text-transform: uppercase;
}

// --------
// NomadWeb
// --------

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F6F6EF;
}

.navbar {
    background-color: #d0e3e8;
    border: 0;
    min-height: 70px;
}
.navbar .container {
    padding-left: 30px;
}
.navbar-toggle {
    margin-top: 19px;
    background-color: #9966ff;
    height: 31px;
    padding: 5px 10px 5px 10px;
}
.navbar-collapse {
    max-height: 350px !important;
}
.navbar-nav li.active {
    background-color: @secondary;
}
.navbar-brand,
.navbar-nav li a.navbar-menu-item,
.navbar-form {
    color: @primaryDark;
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    margin: 0;
    font-size: 1.2em;
}
.navbar .logo-home {
    background: url(../img/nomadblue_full_logo.png) 0 0 no-repeat;
    width: 239px;
    height: 31px;
    margin-top: 19px;
    text-indent: -999em;
    display: inline-block;
    margin-left: 0px !important;
}
.navbar a#switch-site {
    font-size: 1em;
    color: @secondaryVariantLight;
}

.cover {
    height:100vh;
    background: url(../img/santiago_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home-lead {
    text-align: center;
    // background-color: #000;
    background: url(../img/santiago_bg.png) no-repeat center center fixed;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 20px;
    min-height: 350px;
}
.home-lead .lead-div {
    width: 90%;
    margin:  0 auto;
}
.home-lead .lead-div h1 {
    font-size: 8vw;
    text-decoration: underline;
    color: #eee;
}
.home-lead .lead-div h2 {
    // font-size: 3.3vw;
    color: #eee;
}
.see-more {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.home-triptic {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 30px;
}
.home-triptic p {
    font-weight: 300;
}
.home-triptic a {
    text-align: center;
    text-indent: -999em;
    display: inline-block;
    width: 100%;
    height: 150px;
}
.home-triptic a#triptic1 {
    background: transparent url(../img/jump_triptic.jpg) 0 no-repeat;
}
.home-triptic a#triptic2 {
    background: transparent url(../img/growth_triptic.png) 0 no-repeat;
}
.home-triptic a#triptic3 {
    background: transparent url(../img/sticky_notes_triptic.png) 0 no-repeat;
}

footer {
    margin-top: 30px;
}
footer .bottom {
    background-color: #d0e3e8;
    padding-top: 18px;
}
footer .bottom h5 {
    margin-top: 0;
}
footer .bottom h5 a {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: transparent url(../img/nomadblue_footer_logo.png) 0 no-repeat;
    text-indent: -999em;
}
footer .bottom .claim {
    // margin-top: 5px;
    margin-left: 30px;
    font-size: 17px;
    color: #888;
}

.ico-social.twitter {text-indent: -999em;display: inline-block;width: 64px;height: 64px;background: transparent url(../img/twitter.png) 0 no-repeat;}
.ico-social.facebook {text-indent: -999em;display: inline-block;width: 64px;height: 64px;background: transparent url(../img/facebook.png) 0 no-repeat;}
.ico-social.rss {text-indent: -999em;display: inline-block;width: 64px;height: 64px;background: transparent url(../img/rss.png) 0 no-repeat;}

/* ***** */
/* BLOG * /
/* ***** */

.title-lead {
    padding-top: 80px;
}
.post-summary {
    font-size: 1.5em;
    background-color: #eee;
    margin: 10px 0 30px 0;
    padding: 20px;
}
.post-content {
    font-size: 1.3em;
    margin: 30px 0;
}
.sidebar-category-ul li {
    margin-bottom: 15px;
}
a.category-lnk {
    background-color: @secondaryVariantLight;
    padding: 5px 10px;
    color: #fff;
    display: block-inline;
}
a.category-lnk:hover, a.category-lnk:focus {
    text-decoration: none;
    background-color: @secondaryVariant;
    padding: 5px 10px;
    color: #fff;
    display: block-inline;
}
.author {
    font-size: 1.3em;
}
.post-author img {
    float: left;
    margin-right: 20px;
}
.main-h1 {
    margin-bottom: 30px;
}
