{% extends 'base.html' %}

{% load i18n %}
{% load nomadblog_tags %}
{% load imagekit %}

{% block html_title %}{{ object.title }} | Nomadblue{% endblock %}
{% block html_desc %}{{ object.summary|striptags|truncatechars:150 }}{% endblock %}

{% block open_graph %}
<meta property="og:type" content="article">
<meta property="og:image" content="{{ object.pic.url }}">
<meta property="og:title" content="{{ object.title }}">
<meta property="og:url" content="{{ site_url }}{{ object.get_absolute_url }}">
<meta property="og:description" content="{{ object.summary|striptags|truncatechars:300 }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="title-lead">
    <ul class="list-unstyled list-inline">
      <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li><a href="{% url 'post_list' %}">Nomadblue blog</a></li>
      <li>{{ object.title }}</li>
    </ul>
    <h1 class="main-h1">{{ object.title }}</h1>
  </div>
</div>

<div class="container">

  {% if object.image %}
    <div class="row">
      <div class="col-md-8">
        <div class="post-summary">
          {{ object.summary|safe }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="post-pic" style="margin-top: 10px">
          {% if use_holder_js %}
            <img src="holder.js/100%x200/sky" style="max-width: 100%; height: auto;">
          {% else %}
            <img src="{{ object.pic.url }}" style="max-width: 100%; height: auto;">
          {% endif %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-12">
        <div class="post-summary">
          {{ object.summary|safe }}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row" style="margin-top: 20px">
    <div class="col-md-9">

      <div class="post-author clearfix">
        {% if use_holder_js %}
          <img data-src="holder.js/80x80" class="img-circle">
        {% else %}
          {% generateimage 'nomadblog:bloguser' source=object.bloguser.image as bloguserimg %}
          <img src="{{ bloguserimg.url }}" class="img-circle">
        {% endif %}
        <p class="author"><a href="{{ object.bloguser.website_url|default:'/blog/' }}">{{ object.bloguser.name }}</a></p>
        <p>{{ object.bloguser.bio }}</p>
        <p><a class="category-lnk" href="{% url 'post_list_by_category' category.slug %}">{{ object.categories.all.0 }}</a></p>
      </div>

      <div class="post-content">
        {{ object.content|safe }}
      </div>

    </div>
    <div class="col-md-3">
      <h3>{% trans "About this blog" %}</h3>
      <p>{% trans "Hello! We are Nomadblue, a group of technology enthusiasts building applications and first-class web tools. Experienced in entrepreneurship and lean methodologies, we have already helped a lot of startups and companies to transform their projects into something real." %}</p>
      <h3>{% trans "Categories" %}</h3>
      <ul class="sidebar-category-ul" style="list-style-type:none; padding-left: 0">
        {% get_blog_categories as categories %}
        {% for category in categories %}
        <li><a class="category-lnk" href="{% url 'post_list_by_category' category.slug %}">{{ category.name|capfirst }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/nomadblue/embed.js"></script><noscript><a href="http://nomadblue.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

{% endblock content %}
