{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load nomadblog_tags %}

{% block html_title %}{% trans "Nomadblue Blog" %}{% endblock %}
{% block html_desc %}{% trans "This is the official blog of Nomadblue. We are experts in Python-related technologies. We are entrepreneurs and geeks like you." %}{% endblock %}

{% block open_graph %}
<meta property="og:type" content="website">
<meta property="og:image" content="{% static 'img/nomadblue_logo_fb.png' %}">
<meta property="og:title" content="Nomadblue blog - Python, Django, web development">
<meta property="og:url" content="{{ site_url }}{% url 'post_list' %}">
<meta property="og:description" content="{% trans "This is the official blog of Nomadblue. We are experts in Python-related technologies. We are entrepreneurs and geeks like you." %}">
{% endblock %}

{% block content %}

<div class="container">
  <div class="title-lead">
    <ul class="list-unstyled list-inline">
      <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li>{{ blog.title }}</li>
    </ul>
    <h1 class="main-h1">Blog</h1>
  </div>
</div>

<div class="container">
  <div class="col-md-9">
    {% for post in object_list %}
      {% include "blog/bits/post_list_item.html" with object=post %}
    {% endfor %}
  </div>
  <div class="col-md-3">
    <h3>{% trans "About this blog" %}</h3>
    <p>{% trans "Hello! We are Nomadblue, a group of technology enthusiasts building applications and first-class web tools. Experienced in entrepreneurship and lean methodologies, we have already helped a lot of startups and companies to transform their projects into something real." %}</p>
    <h3>{% trans "Categories" %}</h3>
    <ul class="sidebar-category-ul" style="list-style-type:none; padding-left: 0">
      {% get_blog_categories as categories %}
      {% for category in categories %}
        <li><a class="category-lnk" href="{% url 'post_list_by_category' category.slug %}">{{ category.name|capfirst }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
